HTML CSS JSResult Skip Results Iframe
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: black;
}
canvas {
  
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 276px; 
    height: 274px;
    transform: translate(-50%, -50%);
}

footer {
  font-family: monospace;
  width: 100%;
  color: white;
  font-size: 15px;
  margin-left: 5px;
  text-shadow: 1px 1px 1px #737373; 
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: center;
  padding-bottom: 15px;
}
footer a {
  color: orangered;
}


/***** PROGECTS PAGE *****/
.projectsDIV {
  color: azure;
}


.projectsDIV li.LF{
  list-style-image: url('pics/LF.jpg');
}
.projectsDIV li.Grip{
  list-style-image: url('pics/g.jpg');
}
.projectsDIV li.TFT{
  list-style-image: url('pics/tft.jpg');
}
.projectsDIV ul.TFTtypes{
  list-style-image: none;
  list-style-type: square;
}


/***** CONTACTS PAGE *****/
.contactDIV {
  color: azure;
}

.contactDIV ul{
  line-height:280%;
}
.contactDIV a{
  color: blue;
  text-decoration: underline;
}


/***** ABOUT PAGE *****/
.aboutDIV{
  color: azure;
  margin: 10px;
  margin-top: 20px;
  font-size: x-large;
}
